includes:
    - phpstan-baseline.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\.*::.*#'
