parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#7 \\$sourceDirectories \\(array\\<string\\>\\) of method Infection\\\\TestFramework\\\\Codeception\\\\CodeceptionAdapterFactory\\:\\:create\\(\\) should be contravariant with parameter \\$sourceDirectories \\(array\\) of method Infection\\\\AbstractTestFramework\\\\TestFrameworkAdapterFactory\\:\\:create\\(\\)$#"
			count: 1
			path: src/CodeceptionAdapterFactory.php

		-
			message: "#^Call to static method phpExecutableNotFound\\(\\) on an unknown class Infection\\\\Finder\\\\Exception\\\\FinderException\\.$#"
			count: 1
			path: src/CommandLineBuilder.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 1
			path: src/Stringifier.php

		-
			message: "#^Parameter \\#1 \\$arrayOfStrings of static method Infection\\\\TestFramework\\\\Codeception\\\\Stringifier\\:\\:stringifyArray\\(\\) expects array\\<string\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: tests/phpunit/StringifierTest.php

