parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'tests' on mixed\\.$#"
			count: 1
			path: src/CodeceptionAdapter.php

		-
			message: "#^Method Infection\\\\TestFramework\\\\Codeception\\\\CodeceptionAdapter\\:\\:getOriginalBootstrapFilePath\\(\\) should return string\\|null but returns mixed\\.$#"
			count: 1
			path: src/CodeceptionAdapter.php

		-
			message: "#^Parameter \\#1 \\$file of method Symfony\\\\Component\\\\Filesystem\\\\Filesystem\\:\\:isAbsolutePath\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/CodeceptionAdapter.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$arrays of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: src/CodeceptionAdapter.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/CodeceptionAdapter.php

		-
			message: "#^Parameter \\#4 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/CodeceptionAdapter.php

		-
			message: "#^Method Infection\\\\TestFramework\\\\Codeception\\\\CodeceptionAdapterFactory\\:\\:parseYaml\\(\\) should return array\\<string, mixed\\> but returns mixed\\.$#"
			count: 1
			path: src/CodeceptionAdapterFactory.php

		-
			message: "#^Parameter \\#7 \\$sourceDirectories \\(array\\<string\\>\\) of method Infection\\\\TestFramework\\\\Codeception\\\\CodeceptionAdapterFactory\\:\\:create\\(\\) should be contravariant with parameter \\$sourceDirectories \\(array\\) of method Infection\\\\AbstractTestFramework\\\\TestFrameworkAdapterFactory\\:\\:create\\(\\)$#"
			count: 1
			path: src/CodeceptionAdapterFactory.php

		-
			message: "#^Call to static method phpExecutableNotFound\\(\\) on an unknown class Infection\\\\Finder\\\\Exception\\\\FinderException\\.$#"
			count: 1
			path: src/CommandLineBuilder.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 1
			path: src/Stringifier.php

		-
			message: "#^Parameter \\#1 \\$arrayOfStrings of static method Infection\\\\TestFramework\\\\Codeception\\\\Stringifier\\:\\:stringifyArray\\(\\) expects array\\<string\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: tests/phpunit/Adapter/StringifierTest.php
