parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#7 \\$sourceDirectories \\(array\\<string\\>\\) of method Infection\\\\TestFramework\\\\Codeception\\\\CodeceptionAdapterFactory\\:\\:create\\(\\) should be contravariant with parameter \\$sourceDirectories \\(array\\) of method Infection\\\\AbstractTestFramework\\\\TestFrameworkAdapterFactory\\:\\:create\\(\\)$#"
			count: 1
			path: src/CodeceptionAdapterFactory.php

		-
			message: "#^Access to constant VERSION on an unknown class Codeception\\\\Codecept\\.$#"
			count: 2
			path: src/CodeceptionAdapterFactory.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 1
			path: src/Stringifier.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection…' and Infection\\\\TestFramework\\\\Codeception\\\\CodeceptionAdapter will always evaluate to true\\.$#"
			count: 1
			path: tests/phpunit/CodeceptionAdapterTest.php

		-
			message: "#^Parameter \\#1 \\$arrayOfStrings of static method Infection\\\\TestFramework\\\\Codeception\\\\Stringifier\\:\\:stringifyArray\\(\\) expects array\\<string\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: tests/phpunit/StringifierTest.php

